@import './_reset.scss';
@import './_mixins.scss';
@import './App.scss';
@import './Quizz.scss';

:root {
  font-family: Alexandria, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;
  background: linear-gradient(
    to bottom,
    #8F5FCE 0%,
    #743BBF 32%,
    #5C2F98 72%,
    #452371 150%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
