@import './_reset.scss';
@import './_mixins.scss';

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-header {
    width: 100%;
    border-bottom: 1px solid #E4D8F3;
    margin-bottom: 0.5rem;
    h1 {
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }
}

.modal-content {
    background: #743BBF;
    color: #E4D8F3;
    padding: 2rem;
    border-radius: 8px;
    position: relative;
    max-width: 90%;
    max-height: 90%;
    user-select: none;
    @include min-large { max-width: 50% }
    @include max-phone { padding-inline: 0.5rem; }
}

.modal-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}